<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail page</title>

    <style>
        body{
            background-color: azure;
        }
        h1 { color: darkslategrey; }
        a:visited{
            color: lightseagreen;
        }
        a{
            color:midnightblue;
        }
    </style>
</head>
<body>

<h1>Detail page</h1>

<h3>Member: {{member}}</h3>
<h3>Budget name: {{member.bank}}</h3>
<h3>List of transactions:</h3>

<ol>
{% for transaction in member.transactions.all %}
    <li><ul>
        <li><b>Value:</b> {{transaction.value}}</li>
        <li><b>Date:</b> {{transaction.date}}</li>
    </ul><br></li>
{% endfor %}
</ol>

</body>
</html>